form {
    margin-top: 2rem;
    margin-left: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 1.5rem 2rem 2rem;
    border: 1px solid rgba(255, 255, 255, 0.085);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.071);
  }
  
  label {
    font-family: 'Rubik', sans-serif;
    color:rgb(221, 221, 221);
  }
  
  input {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(61, 56, 77);
    border: 2px solid rgb(72, 72, 88);
    color:rgb(255, 255, 255);
    padding-left: 0.5rem;
    font-size: 1.2rem;
  }
  
  input:focus {
    border: none;
    outline: 2px solid rgb(186, 186, 207); 
  }
  
  textarea {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: rgb(61, 56, 77);
    border: 2px solid rgb(72, 72, 88);
    resize: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  textarea:focus {
    outline: 2px solid rgb(186, 186, 207); 
  }
  
  .form-section {
    margin-bottom: 2rem;
  }
  
  .submit-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    transition: all 0.3s;
    background-color: rgba(242, 242, 242, 0.81);
    font-size: 1.1rem;
  }
  
  .submit-button img {
    width: 1.2rem;
    margin-left: 0.5rem;
  }
  
  .submit-button:hover {
    cursor: pointer;
    background-color: rgb(242, 242, 242);
    transform: translateY(-1px);
  }

  @media screen and (max-width: 768px) {
    form {
      width: 100%;
      max-width: 500px;
    }
  }