/*
font-family: 'Manrope', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: 'Work Sans', sans-serif;
}

a {
  font-family: 'Rubik', sans-serif;
}


/* ------------ Homepage -------------- */

.homepage-container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(30, 28, 36);
  overflow: hidden;
}

.landing-text {
  width: 70%;
}

.landing-text h1 {
  margin: 0 0 2rem;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-align: center;
}

.main-button {
  display: block;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.515);
  border: none;
  color:rgb(55, 55, 55);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(5px);
  transition: all 0.2s;
}

.main-button:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .landing-text h1 {
    font-size: 2rem;
  }
  .main-button {
    font-size: 1rem;
  }
}

/* ------------ Portfolio Page -------------- */

.portfolio-container {
  height: 100vh;
  background-color: rgb(35, 35, 35);
}

.showcase-container {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  display: flex;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7150210425967262) 100%);
}

.picture-info {
  align-self: flex-end;
  width: 80%;
  margin-left: 10%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.521);
}

.picture-info h1 {
  color:rgb(255, 255, 255);
  margin: 1rem 0;
  font-size: 2.5rem;
}

.picture-info p {
  color:rgb(227, 227, 227);
  margin-bottom: 2rem;
}

.portfolio-nav {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: max-content;
  margin: auto 0;
  justify-content: space-between;
  padding: 0 2rem;
}

.previous, .next {
  background-color: rgba(0, 0, 0, 0.642);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.previous img, .next img {
  width: 2.5rem;
  filter: invert(0.7);
}

.previous:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.878);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .previous, .next {
    height: 2.5rem;
    width: 2.5rem;
  }
  .previous img, .next img {
    width: 1.5rem;
  }
  .portfolio-nav {
    padding: 0 1rem;
  }
}

/* ------------ Contacts Page -------------- */

.contact-container {
  min-height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(30, 28, 36);
}

.contact-flex {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.contact-text {
  width: 40%;
  overflow: hidden;
}

.contact-text h1 {
  color:rgb(255, 255, 255);
}

.contact-text p {
  color:rgb(221, 221, 221);
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info p {
  font-weight: bold;
  transition: color 0.4s;
}

.contact-info p:hover {
  color:rgb(255, 255, 255);
}

.contact-info:hover {
  cursor: pointer;
}

.email-icon {
  width: 1.5rem;
  margin-right: 1rem;
  filter: invert(0.9);
}

@media screen and (max-width: 768px) {
  .contact-flex {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  form {
    width: 100%;
    max-width: 500px;
  }
  .contact-text {
    width: 100%;
    padding: 0 1rem;
  }
  .contact-container {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

